@import "components";
@import "home";
@import "blogs";
@import "cookies-consent";

// Add body padding to account for fixed header
#landing-layout {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  #landing-layout {
    padding-top: 0;
  }
}
