@import "components";
@import "home";
@import "blogs";
// Add body padding to account for fixed header
body {
  padding-top: 70px;
  overflow-x: hidden;
}

@media (max-width: 991.98px) {
  body {
    padding-top: 70px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 0;
  }
}
