name: Deploy to cPanel (SSH)

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Build React app
        run: npm run build
        env:
          NODE_ENV: production
          VITE_APP_API_URL: ${{ secrets.VITE_APP_API_URL }}
          VITE_APP_BASE_LAYOUT_CONFIG_KEY: ${{ secrets.VITE_APP_BASE_LAYOUT_CONFIG_KEY }}
          VITE_APP_ENCRYPTION_KEY: ${{ secrets.VITE_APP_ENCRYPTION_KEY }}
          VITE_APP_HTTP_API_URL: ${{ secrets.VITE_APP_HTTP_API_URL }}
          VITE_APP_I18N_CONFIG_KEY: ${{ secrets.VITE_APP_I18N_CONFIG_KEY }}
          VITE_APP_STORAGE_URL: ${{ secrets.VITE_APP_STORAGE_URL }}

      - name: Deploy via SSH/rsync
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avzr --exclude='.htaccess'
          path: dist/
          remote_path: /home/eventili/asc.eventili.com/
          remote_host: ${{ secrets.SSH_HOST }}
          remote_port: 2908
          remote_user: ${{ secrets.SSH_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
